*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

html,
body{
  font-family: 'Ubuntu', sans-serif;
    height: 100%;
    line-height: 1;
}
body{
  font-size: 14px;
}



/* wrapper */
/*______________________________________________*/

.wrapper{
  position: relative;
    overflow: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
}

.wrapper__container{
  width: 100%;
  box-sizing:border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(100,20px);
  gap: 10px;
}



/* header */
/*______________________________________________*/

  .header{
    width:100%;
    grid-column: 1/-1;
    height:80px ;
    position: fixed;
    margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(2,40px);
  background-color:rgba(0,0,0,0.4);
  z-index: 500;
  color:rgba(255,255,255,1);
  transition: transform 0.7s ease-in-out;
}
.header.top__slide{
  transform: translateY(-400px);
}

.header__half{
  grid-column: 1/11;
  grid-row: 1/3;
  padding-left: 10px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  transform: translateX(-400%);
  transition: transform 0.7s ease-in-out;
}
.header__half:nth-of-type(even){
  grid-column: 11/-1;
  padding-left: 0;
  padding-right: 10px;
  transform: translateX(400%);
}
.header__half.shown{
  transform: translatex(0);
}
.shown{
  transform: translatex(0);
}



/* header-logo */
/*______________________________________________*/

.header__logo {
  flex: 1 1 20%;
  padding: 4px;
  margin: 0 auto;
  text-align: center;
}
img.header__logo__icon {
  max-width: 70px;
  height: 70px;
}




/* header-title */
/*______________________________________________*/

.header__title{
  flex: 1 1 70%;
  color:rgba(255,255,255,1);
  padding: 5px;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items:center;
  margin: 0 auto;
  text-align: center;
  height: 80px;
}

.title {
  font-size: 2em;
  font-family: "Open sans";
  letter-spacing: 10px;
  font-weight: 700;
  flex: 0 1 100%;
  text-decoration: none;
  text-transform: uppercase;
}
.header__subtitle {
  font-family: "Open Sans";
  font-size: 1.4em;
}




/* header-nav */
/*______________________________________________*/

.header__nav {
  flex: 1 1 70%;
  padding: 5px;
}


.nav__menu{
  height: 70px;
  display: flex;
  align-items:center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav__menu__item {
  margin: 0 3px;
  padding: 2px;
}
.nav__menu__item:hover {
  border-bottom: 2px solid rgba(255,255,255,0.7);
}
.nav__menu__link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color:rgba(255,255,255,1);
}

.active{

  color:rgba(255,255,255,1);
  border-bottom: 2px solid rgba(241, 43, 8, 0.699);
}



/* header-form*/
/*______________________________________________*/

.header__login__form {
  flex: 1 1 30%;
  text-align: center;
}
.header__client__log__content{
align-items:center;
justify-content: space-around;
  flex-wrap: nowrap;
  padding: 5px;
}
.header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 90px;
}

.client__pass ,
.client__log,
.client__mail {
  padding: 3px;
}
.email,
.password {
  font-size:0.6em;
}
.header__client__log__content label{

}
.btn {
  font-size: 0.6em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color:rgba(0,0,0,1);
  border:2px solid rgba(241, 43, 8, 0.699);
  border-radius:7px/7px;
  padding: 3px;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}


/*______________________________________________*/

@media (max-width:1470px){
  
}
@media (max-width:1087px){
  
}

 @media (max-width:991.98px){
  body{
    font-size: 13px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/7;
  }
  .header__login__form {
    grid-column: 7/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 80px;
}
.header__client__log__content{
    flex-wrap: wrap;
  }
}

@media (max-width:767.98px){
  body{
    font-size: 12px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/6;
  }
  .header__login__form {
    grid-column: 6/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 70px;
}
.submit__btn {
  padding:3px;
}
.header__client__log__content{
  padding: 2px;
}
.nav__menu__item {
padding:0;
}
}

@media(max-width:479.98px){
  body{
    font-size: 11px;
  }
  .header__logo {
    grid-column: 1/2;
  }
  .header__title{
    grid-column: 2/6;
  }
  .title{
    font-size: 1.9em;
  }
  .header__subtitle{
    font-size: 1.4em;
  }
  .header__login__form {
    grid-column: 6/13;
  }
  .header__nav{
    grid-column: 13/-1;
  }
  .header__client__log__content input[type="email"],
.header__client__log__content input[type="password"]{
  max-width: 70px;
}
.submit__btn {
  padding:3px;
}
.header__client__log__content{
  padding: 2px;
}
.nav__menu__item {
font-size: 0.9em;
}
} 



/*______________________________________________*/
.list__title{
  flex: 1 1 100%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.item__title{
  font-size: 2em;
  text-align: center;
  padding: 10px;
}


/*________________________________________________*/


.main{
  grid-column: 1/-1;
  grid-row: auto;
}
.main__content{
  width: 100%;
  background-color:rgba(255,255,255,0.2);
  box-sizing:border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(100,20px);
  gap: 10px;
}



/*______________________________________________*/

section{
  position: relative;
  z-index: 100;
transform: translateX(400%);
transition: transform 0.5s ease;
}

.section:nth-of-type(even){
transform: translateX(-400%);
}

.section.shown{
transform: translateX(0);
}




/* tour__card */
/*______________________________________________*/

.tour__card {
  background-color:rgba(255,255,255,0.2);
  box-sizing:border-box;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(20,1fr);
  grid-template-rows: repeat(100,20px);
  gap: 10px;
  border:1px solid rgba(0,0,0,0.2);
}
.card__title {
  grid-column: 9/12;
  grid-row:5/7;
  font-size: 2em;
  text-align: center;
}
.tour__duration {
  font-size: 0.5em;
}
.duration {
}

.basic__info{
  grid-column: 7/15;
  grid-row: 7/10;
}
.route__list,
.type__list,
.countries__visited{
  display: flex;
  align-items:center;
  justify-content: flex-start;
  padding: 5px;
}
.route {
 
}
.route__point__title {
  flex: 0 1 auto;
}
.route__point {
  
}
.countries__visited {
}
.countries__visited__title {
}
.countries__visited__item {
  
}
.type__item,
.countries__visited__item,
.route__point {
  flex: 0 1 auto;
  margin:0px 0px 0px 5px;
  text-decoration: underline;
}
.type__item a,
.countries__visited__item a,
.route__point a{
  color:rgba(0,0,0,0.7);
}
.type__title {
  
}
.type__item {
  
}

.description__block {
  grid-column: 2/-2;
  grid-row: 10/35;
  border:1px solid rgba(0,0,0,0.2);
  padding: 10px;
  overflow: hidden;
}
.block__description{
  display: flex;
  flex-direction: column;
  align-items:center;
  align-content: center;
}
.content__image {

}
.block__description img{
 
}
.descr__content {
  padding: 20px;

}
.descr__title {
  margin: 0 auto;
  padding: 10px;

}
.descr__text {
  margin: 0 auto;
  padding: 10px;
  font-size: 1.1em;
  line-height: 1.2;
  letter-spacing: 1px;

}
/* include  not__included */
/*______________________________________________*/

.not__included,
.included {
  grid-column: 2/11;
  grid-row: 36/43;
  padding: 10px;
  border:1px solid rgba(0,0,0,0.2);
}
.not__included__list,
.included__list {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  width: 100%;
}

.not__included {
  grid-column:11/20;
}
 
.not__included__title,
.included__title {
  flex:0 0 100%;
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.1);
}
.not__included__item,
.included__item {
  flex:0 0 100%;
  margin-left: 20%;
  padding: 5px;
  list-style: circle;
}


/* tour__program */
/*______________________________________________*/


.tour__program {
  grid-column:2/11;
  grid-row: 43/65;
  border:1px solid rgba(0,0,0,0.2);
  padding: 10px;
}
.tour__program__list {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}
.tour__program__title {
  flex:1 1 100%;
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.1);

}
.tour__program__item {
  flex:1 1 100%;
  margin-left: 10%;
  list-style: circle;
}
.day__number {
  font-size: 1em;
}
.day__descr {
  padding: 20px;
  text-align: justify;
}
.route__map {
  grid-column:11/20;
  grid-row: 43/57;
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.1);
}
.additional__info {
  grid-column:11/20;
  grid-row: 57/65;
  border:1px solid rgba(0,0,0,0.2);
  padding: 10px;
  font-size: 1em;
}
.additional__info__title {
  font-size: 1.5em;
  padding: 5px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.1);
  text-align: center;
}
.children__discount {
  padding: 5px;
}


/*______________________________________________*/





.tours__filter{
  grid-column: 2/12;
  grid-row: 4/5;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

/* select__destination */
/*______________________________________________*/
.select__destination__title {
  /* grid-column: 2/3;
  grid-row:4/5; */
  text-align: center;
  font-size: 0.8em;
}
.select__destination{
   grid-column: 3/4;
   grid-row:4/5;
   border:1px solid rgba(0,0,0,0.2);
   font-size: 0.5em;
}

.destination__item {
  border:1px solid rgba(0,0,0,0.2);
}


.destination__countries__list {
  
   border:1px solid rgba(0,0,0,0.2);
}
.destination__country__item {
  border:1px solid rgba(0,0,0,0.2);
}
.destination__country__name {
  display: none;
}


/* select__duration */
/*______________________________________________*/
.select__duration__title {
  /* grid-column: 4/5;
  grid-row:4/5; */
  text-align: center;
  font-size: 0.8em;
}
.select__duration {
  grid-column: 5/6;
  grid-row:4/5;
   border:1px solid rgba(0,0,0,0.2);
}
.duration__value {
  
}

/* select__duration */
/*______________________________________________*/
.select__type__title {
   grid-column:6/7;
  grid-row:4/5;
  text-align: center;
  font-size: 0.8em;
}
.select__type {
  grid-column:7/8;
  grid-row:4/5;
   border:1px solid rgba(0,0,0,0.2);
}
.type__value {
}


/* select__price */

.price{
   grid-column: 17/19;
   grid-row: 4/5;
   display: flex;
   justify-content: space-between;
/*    align-items:center;
 */   font-size: 0.8em;
}
#price{
  margin-left: 10px;
}






/* tour__links__list */
/*______________________________________________*/


.tour__links__list {
  grid-column:2/20;
  grid-row: 7/30;
  border:1px solid rgba(0,0,0,0.2);
  background-color:rgba(0,0,0,0.2);
  padding: 20px;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}
.tour__item {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius:10px/10px;
  background-color:rgba(0,0,0,0.1);
  border:1px solid rgba(0,0,0,0.8);
}
.tour__link{
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;
}
.tour__link__card {
position: relative;
display: flex;
align-items:center;
justify-content: center;
overflow: hidden;
}

.tour__link__active {
}
.tour__link__card img{
  margin: 0 auto;

   background-color:rgba(0,0,0,0.1);
   width: 180px;
   height: 180px;
}
.tour__label {
  color:rgba(255,255,255,1);
  position: absolute;
  font-size: 2em;
  letter-spacing: 1px;
  text-align: center;
}




.hide {
  display: none;
}

.show {
  display:grid;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

